/* meefax.css */

div.page {
    background-color: #000;
    color: #FFF;
    font-family: "Bedstead Meefax", monospace;
    font-size: 15pt;
    width: 24em;
    height: 25em;
    border: 10px black solid;
    border-radius: 5px;
    filter: blur(0.5px);
    transform: scale(1.4, 1);
    margin-left: 20%;
}

div.cel {
    display: block;
    position: absolute;
    white-space: pre;
    width: 24em;
    height: 25em;
}

div.doubleheight-cel {
    transform: scaleY(2);
    background-color: #000F;
    width: auto;
    height: auto;

    opacity: 0; /* FIXME */
}

@font-face {
   font-family: "Bedstead Meefax";
   src: url(meefax.otf);
}

.f0 { color: #000; }
.f1 { color: #F00; }
.f2 { color: #0F0; }
.f3 { color: #FF0; }
.f4 { color: #00F; }
.f5 { color: #F0F; }
.f6 { color: #0FF; }
.f7 { color: #FFF; }

#edit-cel textarea {
    background-color: #7000;
    color: #FFF0;
    font-family: inherit;
    font-size: inherit;
    width: inherit;
    height: inherit;
    margin: 0;
    border: 0;
    padding: 0;
    overflow: hidden;
}
